/**
 * Global variables
 */
:root {
  --body-background-color: black;
  --light-background-color: rgb(101, 85, 69);
  --dark-background-color: rgb(69, 53, 37);
  --clear-background-color: rgba(0, 0, 0, 0);
  --dark-border-color: rgb(45, 37, 29);
  --light-border-color: rgb(79, 68, 47);
  --text-color: #e0e0e0;
  --link-color: #e0e080;
}

/**
 * Styles that apply to all elements
 */
html, body {
  background-color: var(--body-background-color);
  color: var(--text-color);
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
