/**
 * Global variables
 */
:root {
  --body-background-color: black;
  --light-background-color: rgb(101, 85, 69);
  --dark-background-color: rgb(69, 53, 37);
  --border-color: rgb(45, 37, 29);
  --text-color: #e0e0e0;
  --link-color: #e0e080;
}

/**
 * Styles that apply to common elements
 */
html, body {
  background-color: var(--body-background-color);
  color: var(--text-color);
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.25rem 0 0 0;
}

/**
 * Top-level styles that apply to general classes
 */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.horizontal-list {
}

.horizontal-list > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.horizontal-list > ul > li {
  display: inline;
}

.horizontal-list > ul > li:not(:first-child)::before {
  content: "•";
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.root-page {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.root-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.125rem;
  border-radius: 0.25rem;
  border: 0.25rem outset var(--border-color);
  overflow: hidden;
}

.content {
  margin: 0.5rem;
}

.light-container {
  background-color: var(--light-background-color);
}

.dark-container {
  background-color: var(--dark-background-color);
}


