:root {
  --body-background-color: black;
  --dark-background-color: #655545;
  --light-background-color: #453525;
  --text-color: #e0e0e0;
  --link-color: #e0e080;
}

html, body {
  background-color: var(--body-background-color);
  color: var(--text-color);
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.25rem 0 0 0;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
